/* CSS Document */
#sticktop{
	background: #e7eaeb;
}
.xv-menuwrapper .dl-menu > li > a{
	color: #2c2c2d;
}
.xv-menuwrapper .dl-menu > li > a:hover, .xv-menuwrapper .dl-menu > li.active > a{
	color: #f06c40;
}
.navbar-brand{
	height: auto !important;
}
.navbar-header{
	max-width: 140px
}
.btn-green{
	background: #0ca37f;
	color: white;
}

button.btn.btn-green.anadido{
	position: absolute;
	display: none;
}

.btn-default:hover{
	background: #0ca37f;
}
#audio-player{
	line-height: 75px;
	color: white;
	padding: 0px 20px;
}
a:hover{
	color: white;
}

#audio-player a:hover{
	color: #f06c40;
	text-decoration: none;
}
#audio-player a{
	color: white;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.cover-content h1{
	padding-top: 30px;
	font-size: 45px;
	color: white;
}
.xv-menuwrapper .dl-menu > li.cyan > a{
	color: #0BA380 !important;
}

.panel, .panel-default{
	border-color: #a73c18;
}


.panel-default>.panel-heading{
	background: #f06c40;;
	border: 1px solid #a73c18;
}
.panel-default>.panel-heading a{
text-decoration: none;
text-transform: uppercase;
}
.panel-default>.panel-heading a:hover{
	color: black;
	text-decoration: none;

}

.table.carrito{
	border: 1px solid white;
}

.table.carrito th{
	text-transform: uppercase;
}

.table.carrito th,
.table.carrito td{
	border: 1px solid white;
	padding: 10px;
}

.table.carrito tfoot{
	text-align: right; 
}

.contenido{
	padding-top: 50px;
}

.pagination li a{
    background-color: transparent;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #f06c40 !important;
	color: black !important;
}

.footer-links{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.footer-links li{
	display: inline-block;
}
.footer-links li a{
	display: block;
	padding: 0.5em;
	transition: all 0.5s ease;
}

.payment_options .item img{
	max-width: 100%;
	width: 300px
}

.footer-links li a:hover{
	color: white;
	text-decoration: none;
}


table.user_info td,
table.checkout td{
	border: 1px solid white;
	padding: 10px;
}

table.checkout .total{
	background: grey;
	color: black;
}

table.checkout .total td:first-child{
	text-align: right;
}
table.checkout td:nth-child(2){
	text-align: center;
}



.btn-default,
.album-control:hover,
.album-unit figure:after,
.search-widget button,
.search-widget inputinput[type="submit"],
.article-slider .owl-nav > div:hover,
.article-meta li a,
.navigators a:hover,
.navigators button:hover,
.event-unit > div:before,
.post-audio-player .jpcTimeWrap,
.jp-play-bar,
.jp-radioPlayer,
.waveSurferPlayer,
.singleSongPlayer .jp-seek-bar .jp-play-bar,
.jp-playlist ul li.jp-playlist-current{
	background:#f06c40;
}

section header.style3, {
	background-color:#f06c40;
}

a,
.search-actions ul li.active a,
.search-actions ul li a:focus,
.search-actions ul li a:hover,
.s-keyword,
.link:hover,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
.field-wrap:hover label,
.s-keyword, 
.search-actions ul li.active a,
.search-actions ul li a:focus,
.search-actions ul li a:hover, 
a.vote-up,
a.vote-up:hover,
a.vote-up:focus, 
.event-unit > div > i,
.song-list.itunesSongList li > .song-btn:hover,
.song-list.itunesFeaturedAlbum li > .song-btn:hover,
article h1 a:hover,
article h2 a:hover,
article h3 a:hover,
article h4 a:hover,
article h5 a:hover,
article h6 a:hover,
.pagination li.active a,
.pagination li.active > span,
.pagination li a:hover{
	color:#f06c40;
}

.btn-transparent, input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus, 
.article-slider .owl-nav > div:hover{
	border-color:#f06c40;
}
.abc{
	 border-right-color:#f06c40;
}
.abc{
	border-left-color:#f06c40;
}
.abc{
	border-bottom-color:#f06c40;
}
.abc{
	border-color:#fff;
}

/*RGBA*/
.store-product figure > figcaption{
	background:#f06c40;
	background:rgba(240,108,64,0.93)
}
.abc{
	color:#fff;
}
.abc{
	border-color:#fff;
	border-color:rgba(240,108,64,0.5);
}










